body{
  background-image: url(../img/backgroup1.webp);
  background-size: cover;
  background-position: 10% 20%;
  animation: change 20s infinite ease-in-out;
  overflow-x: hidden;
}

@keyframes change{
  0%
  {
      background-image: url(../img/backgroup1.webp);
  }
  25%
  {
      background-image: url(../img/backgroup2.webp);
  }
  50%
  {
      background-image: url(../img/backgroup3.jpg);
  }
  100%
  {
      background-image: url(../img/backgroup1.webp);
  }
}

/* aside {
  min-width: 15%;
  overflow: auto;
} */

/* main {
  width: 85%;
} */

