body {
  background-image: url(../img/backgroup1.webp);
  background-size: cover;
  background-position: 10% 20%;
  animation: change 10s infinite ease-in-out;
}

@keyframes change {
  0% {
    background-image: url(../img/backgroup2.webp);
  }
  50% {
    background-image: url(../img/backgroup3.jpg);
  }
  100% {
    background-image: url(../img/backgroup1.webp);
  }
}
