.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #effb04;
  background-image: url('../img/leader.png');
  color: #ffffff;
  flex-direction: column;
}

.leaderboard{
  display: flex;
  flex-direction: row;
}

table{
  margin: 20px;
}

.map{
  text-align: center;
}

th{
  text-align: center;
  border: 3px solid#ffffff;
  padding: 5px;
}

.text {
   display: flex;
   text-align: center;
   justify-content: center;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.w3-row-padding img {
  margin-bottom: 12px;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px;
  background: rgb(255, 253, 253);
}