#sidebar{
  font-size: 25px!important;
  font-family: "Montserrat", sans-serif!important;}

.card {

  background-color: green;

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  background-color: grey;

  max-width: 300px;
  margin: auto;
  text-align: center;
}
  
.title {
  color: grey;
  font-size: 18px;
}

.racingCar {
  max-width:5rem;
  max-height:5rem;
  width: auto;
  height: auto;
}

.carPhoto {
  width: 100px;
  max-height: 150px;
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.container {
  display: flex;
  justify-content: center;
}
.container h1 {
  color: white;
}